h4{
    margin-top: 2%;
    margin-bottom: 2%;
}
.img-title img{
    width: 100%;
    border: none;
    margin-bottom: 2%;
    box-shadow: 2px 1px 8px 3px rgba(128, 128, 128, 0.79);
    height: 100vh;
    object-fit: cover;
}
.dieukien ul{
    line-height: 256%;
}
h1{
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 192%;
}
@media only screen and (max-width:700px) {
    .col{
        flex: 1 0 50%;
    }
}