body {
    overflow-x: hidden;
}

.size-text {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
    background-color: #005baa;
    background-image: linear-gradient(45deg, #005baa, #000000);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.color-content {
    background-color: rgb(153, 121, 72);
}


/* .table{
    width: 92%;
    margin-left: 44px;
} */

.round {
    border-style: double;
    padding: 4%;
    border-radius: 1%;
}

.sidebar-two {
    margin-top: 13%;
}

.border-line {
    text-align: center;
    border: 2px solid #000000;
    font-weight: 400;
    padding: 5px;
}

.border-line-1 {
    width: 100%;
    border: 2px solid;
    background-color: rgb(255, 252, 248);
}

tr:hover {
    background-color: rgb(237, 235, 235);
    color: rgb(98, 175, 242);
}


@media (min-width: 1200px) {
    .note {
        flex: 0 0 auto;
        width: 100%;
        margin-left: 46px;
        padding-top: 26px;
    }
}

ul {
    list-style-type: none;
    align-items: center;

}

/* Header */