body {
    background-color: white;
    margin: 0px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

#nav {
    height: 100px;
}

#top-nav {
    display: flex;
    align-items: center;
    height: 80px;
    /* background-color: #ffffff; */
    border: none;
}

#top-nav li {
    display: flex;
    list-style: none;
    margin-left: 30px;


}

#top-nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: black;
    padding: 20px 12px;
    border-radius: 0.5;
}

#top-nav li a:hover {
    color: #FFAEBE;
    text-decoration: underline;
    transition: 0.3;
}


a {
    text-decoration: none;
}
iframe:last-child{
    width: 100%;
  height: 30vh;
  
  overflow: hidden;
}


@media (max-width:885px) {
    #top-nav ul li a {
        font-size: 20px;
        padding: 0px;
    }
}

@media (max-width:768px) {
    #top-nav ul li a {
        font-size: 18px;
        padding: 0px;
    }
}

@media (max-width:660px) {
   #header{
    height: 290px !important;
    position: absolute !important;
   }

    #top-nav ul li a {
        font-size: 16px;
        padding: 0px;
    }

    .logo {
        float: left;
        height: 33vh;
        width: 25vw;
        margin-right: 20vh;
    }
    iframe:last-child{
         height: 95vh;
    }
}

header a {
    color: white;

}

nav {
    display: flex;
    /* box-shadow: 0px 0 5px 0; */
    /* position: sticky;
    top: 0px; */
    /* background-color: #f8f8f8; */




}

nav ul {
    display: flex;
    padding: 0px;
    margin: 0 auto;




}

nav ul li {
    display: flex;
    padding: 20px 12px;



}

ul li a {

    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: black;
}

ul li a:hover {
    color: #FFAEBE;
}


.content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-title h1 {
    font-size: 25px;

}

.content-title a {
    font-size: 20px;
    margin-right: 70px;
    float: right;
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;

}

.content-title a:hover {
    color: #ae7789;
    text-decoration: underline;
}

.main-content {

    margin-left: 50px;
}

h2 {
    margin-left: 10px;
}

#Slideshow {
    width: 100%;
    height: 60vh;

}

iframe {
    border: none;
    height: 100%;
}


.contain-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.contain-item img {
    width: 80%;
    height: 80%;
}

.content-content a {
    font-size: 18px;
    color: #3783BE;
}

footer {
    width: 100%;
    height: 30vh;
}
p{
    font-size: 15px;
}
@media(max-width:725px){
    .content-content{
        height: 45px;
    }
}

@media(max-width:536px){
    .contain-item{
       flex-wrap: wrap-reverse;
    }
}
@media(max-width:450px){
    .content-content{
        height: 60px;
    }
    iframe:last-child{
        height: 70vh;
    }
    
}