.container{
    margin-top: 3%;
}
h4 {

    margin-bottom: 3%;
}

.img-title img {
    width: 100%;
    border: none;
    margin-bottom: 2%;
    box-shadow: 2px 1px 8px 3px rgba(128, 128, 128, 0.79);
    height: 100vh;

}

.dieukien ul {
    line-height: 256%;
}

h1 {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 192%;
}
#header{
    position: absolute;
    height: 84px !important;
}
header{
    position:sticky;
    top: 0px;
    z-index: 100;
    height: 83px;
}
@media only screen and (max-width:700px) {
    .col {
        flex: 1 0 50%;
    }
}
@media(max-width:660px){
    
    #header{
      height: 290px !important;
    }
    header{
      height: 60px !important;
    }
}
@media only screen and (max-width:450px) {
    .img-title img {
        height: 33vh;
    }
}