.font{
    font-size: 30px;
    font-weight: 700;
}



.tieude{
    font-size: 32px;
    font-weight: 700;
    color: rgb(39, 39, 81);
    text-decoration: none;
} 

.phude{
    font-weight: 700;
}

.ghichu{
    font-size: 10px;
}